<div class="header">
  <h3 class="text-muted">Ben's Pipe Calculator</h3>
</div>

<form role="form">
  <div class="form-group">
    <label for="angleInput">Angle</label>
    <input ng-model="angle" type="number" class="form-control" id="angleInput" placeholder="Enter angle">
  </div>
  <div class="form-group">
    <label for="fillInput">Fill</label>
    <input ng-model="fill" type="number" class="form-control" id="fillInput" placeholder="Enter fill in feet">
  </div>
  <div class="form-group">
    <label for="homeInput">Home</label>
    <input ng-model="home" type="number" class="form-control" id="homeInput" placeholder="Enter home in feet">
  </div>

  <div class="alert alert-success">Result: <strong>{{calcResult() | number:2}}</strong></div>
</form>

<div class="footer">
  <p>♥ from Andy</p>
</div>
